registry="https://registry.npmjs.org/"
always-auth=true
package-lock=false
# Informative
email=dummy@example.com
# Risk
_auth = YWRtaW46YWRtaW4=
# Risk
//registry.npmjs.org/:_authToken=26dfe8d8-889b-4380-92ff-9c3c6ea5d930
